@model imranvize.Models.entity.Ogretmen
@{
    ViewBag.Title = "Ogretmenguncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "anasayfa", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ogretmenid)
        @Html.TextBoxFor(m => m.ogretmenid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ogretmenad)
        @Html.TextBoxFor(m => m.ogretmenad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ogretmensoyad)
        @Html.TextBoxFor(m => m.ogretmensoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ogretmengiris)
        @Html.TextBoxFor(m => m.ogretmengiris, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ogretmencıkıs)
        @Html.TextBoxFor(m => m.ogretmencıkıs, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Öğretmen güncelle</button>
    </div>
}

