@model imranvize.Models.entity.idari
@{
    ViewBag.Title = "idariguncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "idari", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.idariid)
        @Html.TextBoxFor(m => m.idariid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.idariadsoyad)
        @Html.TextBoxFor(m => m.idariadsoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.idariunvan)
        @Html.TextBoxFor(m => m.idariunvan, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.idaribasla)
        @Html.TextBoxFor(m => m.idaribasla, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.idaricıkıs)
        @Html.TextBoxFor(m => m.idaricıkıs, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">İdari güncelle</button>
    </div>
}

