@model imranvize.Models.entity.Ogrenci
@{
    ViewBag.Title = "ogrenciguncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Ogrenci", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ogrenciid)
        @Html.TextBoxFor(m => m.ogrenciid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ogrenciad)
        @Html.TextBoxFor(m => m.ogrenciad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ogrencisoyad)
        @Html.TextBoxFor(m => m.ogrencisoyad, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ogrencigiris)
        @Html.TextBoxFor(m => m.ogrencigiris, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.ogrencicıkıs)
        @Html.TextBoxFor(m => m.ogrencicıkıs, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Öğrenci güncelle</button>
    </div>
}

