@model imranvize.Models.entity.admin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Giris</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   
    <div class="wrapper fadeInDown">
        <div id="formContent">
            @ViewBag.Mesaj
            @using (Html.BeginForm("Giris","Guvenlik",FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.ad)
                    @Html.TextBoxFor(m => m.ad, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.sifre)
                    @Html.TextBoxFor(m => m.sifre, new { @class = "form-control", placeholder = "Şifre" })

                </div>

                <button type="submit" class="btn btn-block btn-success">Giriş Yap</button>
            }
           



        </div>
    </div>
</body>
</html>
